@use '../abstracts//vars' as vars;

main.editor {
  display: flex;
  justify-content: space-between;

  button[data-form-modal-show],
  button[data-form-modal-close] {
    border: none;
    background: transparent;
    padding: 0;
    color: vars.$accent;
  }
  button[data-form-modal-show] {
    position: fixed;
    z-index: 99;
    top: 70px;
    right: 10px;

    @media (max-width: 400px) {
      top: 10px;
    }
  }
  section[aria-label='output'] {
    flex-grow: 1;

    div.resume-output {
      padding: 1rem 1rem 1rem 2rem;
      border: 1px solid var(--text-color-2);
      border-radius: 6px;

      .component {
        position: relative;
        display: flex;

        .content {
          border: 1px dashed var(--text-color-2);
          flex-grow: 1;
        }
      }
    }

    h1 {
      input {
        border-color: transparent;
        width: calc(100% - 2rem);
        font-size: 1.2rem;
        padding: 0.4rem 1rem;
        margin-bottom: 1rem;
        background-color: transparent;

        &:hover {
          border-color: var(--text-color-2);
        }
      }
    }
  }

  section[aria-label='editing form'] {
    // margin-right: 2rem;
    dialog {
      //? todo: do this with tailwind
      // & {
      //   margin-right: 0;
      // }
      color: var(--text-color);
      border: none;
      background: var(--bg-color);
      padding: 1.5rem 2rem;
      border-radius: 5px;
      &::backdrop {
        background-color: rgba(5, 5, 10, 0.5);
      }
    }
  }
}

form {
  label {
    display: block;
    text-transform: capitalize;
    max-width: max-content;
    margin-top: 1rem;

    input {
      display: block;
      margin-top: 1rem;
      background: transparent;
      border: 2px solid var(--text-color-2);
      font-size: 1rem;

      &.invalid {
        border-color: var(--error-color);
      }
    }
  }

  button {
    margin-top: 2rem;
    background: transparent;
    border: 1px solid vars.$accent;
    color: vars.$accent;

    &:hover {
      border: 1px solid vars.$accent; // overriding a global style
    }
  }

  .error {
    max-width: max-content;
    font-size: small;
    margin-top: 1rem;
    color: var(--error-color);
  }
}
